<%- include('../../partials/head.ejs') %>
<body>
    <%- include('../../partials/navbar.ejs') %>
    <div class="container">
        <br />
        <h2 class="text-center">Usuarios</h2>
        <div class="text-center">
            <a href="/admin/users/create" class="btn btn-success">
                Criar Novos Usuarios
            </a>
        </div>
        <br />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Açōes</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach((user)=>{ %>
                <tr>
                    <th><%= user.id %></th>
                    <th><%= user.name %></th>
                    <th><%= user.email %></th>
                    <th class="col-2">
                        <div class="d-inline">
                            <a
                                href="/admin/users/edit/<%= user.id %>"
                                class="text-center btn btn-primary"
                                >Editar</a
                            >
                        </div>
                        <div class="d-inline">
                            <a
                                href="/admin/users/delete/<%= user.id  %> "
                                class="text-center btn btn-danger"
                                onclick="confirmDeletion(event,'Voce quer deletar esse usuario ?')"
                                >Deletar</a
                            >
                        </div>
                    </th>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
<script src="/js/confirm.js"></script>
<%- include('../../partials/footer.ejs') %>
