<%- include('./partials/head.ejs') %>
<body>
    <%- include('partials/homeNavBar.ejs') %>
    <br />
    <div class="container">
        <h1><%= category.title %></h1>
        <br />
        <% articles.forEach((article)=>{ %>
        <div class="card text-center">
            <div class="card-header">
                <h2 class="card-title"><%= article.title %></h2>
            </div>
            <div class="card-body">
                <a
                    href="/category/<%= category.slug %>/article/<%= article.slug %>"
                    class="btn btn-primary"
                    >Saiba Mais</a
                >
            </div>
        </div>
        <% }) %>
    </div>
</body>
<%- include('partials/footer.ejs') %>
