<%- include('./partials/head.ejs') %>
<body>
    <%- include('partials/homeNavBar.ejs') %>

    <br />
    <div class="container">
        <br />
        <% articles.forEach((article)=>{ %>
        <div class="card text-center">
            <div class="card-header">
                <h2 class="card-title"><%= article.title %></h2>
            </div>
            <div class="card-body">
                <p class="card-text"><%= article.categories.title %></p>
                <a href="/article/<%= article.slug %>" class="btn btn-primary"
                    >Saiba Mais</a
                >
            </div>
        </div>
        <% }) %>
        <hr />
        <div class="row">
            <div class="col col-xs-12">
                <% if(page!=0){%>
                <a href="/articles/page/<%= page - 1 %>" style="float: left">
                    <<<<<<< Prev
                </a>
                <%}%> <% if(next){%>
                <a href="/articles/page/<%= page + 1 %>" style="float: right">
                    Next>>>>
                </a>
                <%}%>
            </div>
            <hr />
        </div>
    </div>
</body>
<%- include('partials/footer.ejs') %>
